:root {
  --pr-cl: #9d9d9d;
  --sc-cl: rgb(85, 82, 82);
}
html {
  height: -webkit-fill-available;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #efefef;
}

h2 {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  color: var(--pr-cl);
  margin-bottom: 40px;
}

/* Whatsapp Floating */

.wa-container {
  position: fixed;
  right: 1rem;
  bottom: 4.5em;
  width: 50px;
  height: 50px;
  z-index: 100;
  opacity: 0;
  transition: all 0.3 ease;
}

.wa-container img {
  width: 100%;
}

.wa-container.show {
  opacity: 1;
  pointer-events: auto;
}

/* Whatsapp Floating End */

/* Go Up Float */

.arrow-float-container {
  position: fixed;
  z-index: 100;
  width: 50px;
  height: 50px;
  right: 1rem;
  bottom: 1rem;
  text-align: center;
  border-radius: 100%;
  background-color: #243b4a;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.arrow-float-container.show {
  opacity: 1;
  pointer-events: auto;
}

.arrow-float-container .arrow-container {
  position: relative;
  border-radius: 100%;
}

.arrow-container i {
  position: absolute;
  font-size: 30px;
  left: 14px;
  top: 10px;
  color: #fff;
}

/* Go Up Float End */

/* Navbar */

* {
  z-index: 2;
}

.navbar {
  z-index: 3;
  background: transparent;
  transition: all 0.3s ease;
}

.navbar.sticky {
  background-color: #243b4a;
}

.navbar-brand {
  font-size: 2em;
  text-shadow: 3px 3px 5px black;
}

.navbar-brand span {
  font-weight: 700;
  color: #266e2a;
}

.nav-link {
  font-size: 16px;
}
.nav-link.active {
  font-weight: 700;
}

.button-lg-primary {
  border-radius: 10px;
}
/* Navbar End */

/* Banner */

#banner {
  /* background: linear-gradient(160deg, var(--pr-cl), #000); */
  background: url(gallery/charcoal2.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  position: relative;

  width: 100%;
  height: 100vh;
}

#banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
}

.img-banner {
  width: 60%;
  z-index: 1;
}

.banner-tagline {
  text-align: center;
}

.banner-tagline h1 {
  color: #fff;
  font-weight: 700;
  font-size: 5em;
  text-shadow: 1px 1px 2px black;
}

.banner-tagline p {
  font-size: 1.7em;
  font-weight: 300;
  color: #fff;
}

/* Banner End */

/* Values */

#values {
  padding: 50px 0;
}

#values h2 {
  color: var(--sc-cl);
}

.about-content p {
  font-size: 16px;
  text-align: center;
}

.card-layanan {
  display: flex;
  flex-direction: column;
  place-content: center;
  width: 100%;
  height: 350px;
  border-radius: 8px;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 05);
}

.circle-icon {
  width: 70px;
  height: 70px;
  background-color: var(--pr-cl);
  border-radius: 50%;
}
.circle-icon img {
  width: 60px;
}

.card-layanan h3 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
}

.card-layanan p {
  color: #000;
  font-size: 14px;
}

/* Products */
#product {
  background-color: #fff;
}

.product-card {
  width: 100%;
  height: 25em;
  padding: 20px;
  text-align: center;
}

.product-card .product-img {
  display: inline-block;
  width: 318px;
  height: 220px;
  padding: 15px;
  background-color: transparent;
}

.product-card .product-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.product-card h3 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 700;
}

.product-card p {
  margin-top: 5px;
  font-size: 15px;
}

.product-card button {
  background-color: var(--pr-cl);
  border: none;
  margin-top: 20px;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #000;
  border-radius: 10px;
}

.modal-backdrop {
  z-index: 100;
  opacity: 0.5;
}

.modal-dialog {
  max-width: 850px;
  margin: 2rem auto;
}

.modal-header .modal-title {
  font-weight: 700;
}

.modal-body h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.modal-body .foot-note {
  display: flex;
  justify-content: end;
  font-size: 12px;
}

/* Products End */

/* Teams */

#teams h2 {
  color: var(--sc-cl);
}

.team-card {
  background: #fff;
  height: 20rem;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 7px rgba(0, 0, 0, 05);
}

section .team-card .team-image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  padding: 3px;
  background: var(--pr-cl);
  transition: all 0.3s ease-in-out;
}

section .team-card .team-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.team-card .team-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #000;
  padding: 30px;
  place-items: center;
  transition: all 0.2s ease-in-out;
}

.team-card .socialmedia-icon i {
  opacity: 0.5;
  margin-top: 10px;
  padding: 10px;
  color: #000;
  transition: all 0.3s ease;
}

.team-card .team-identity {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.team-card .team-identity .name {
  font-weight: 700;
  margin-top: 10px;
}

.team-card .team-identity .team-position {
  font-size: 13px;
  margin-top: 5px;
}

/* Teams Hover */

.team-card:hover {
  background: linear-gradient(160deg, var(--pr-cl), #000);
  border-radius: 20px;
}

.team-card .team-card-content:hover {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 30px;
  place-items: center;
}

section .team-card:hover .team-image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #000;
}

.team-card .socialmedia-icon i:hover {
  cursor: pointer;
  opacity: 1;
  padding: 10px;
  color: #fff;
}

/* Teams Hover End */
/* Teams End */

/* Contact Us */

#contact {
  background: #fff;
}

#contact .container .row .col {
  margin-bottom: 20px;
}

.form {
  border-right: 3px solid #000;
}

.form .form-content {
  margin-right: 20px;
}

.contact-info div {
  padding: 0.5em;
}

.contact-info div a {
  text-decoration: none;
  color: #000;
}

.contact-info div a i {
  font-size: 1.5em;
  width: 30px;
}

/* Contavt Us End */

/* Footer */

footer {
  color: var(--sc-cl);
  background-color: #efefef;
  text-align: center;
  margin-bottom: 20px;
}

.bt-navbar {
  display: flex;
  place-content: center;
  margin-bottom: 2rem;
}

.bt-navbar a {
  text-decoration: none;
  color: var(--sc-cl);
}

.btnv {
  flex-direction: column;
  margin-right: 10px;
}
/* Footer End */

/* Responsive */

@media screen and (max-width: 768px) {
  /* Whatsapp Float */

  .wa-container {
    left: 1rem;
    bottom: 1rem;
  }
  .arrow-float-container {
    right: 1rem;
    bottom: 1rem;
  }
  
  /* Nav */
  .navbar-brand {
    font-size: 1.25em;
  }

  /* Banner */

  #banner {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
  }

  .banner-tagline {
    text-align: center;
  }

  .banner-tagline h1 {
    font-size: 30px;
    line-height: 50px;
  }

  .banner-tagline p {
    font-size: 13px;
  }

  .img-banner {
    width: 100%;
  }

  /* Modal */
  .modal-dialog {
    max-width: 850px;
    margin: 2rem auto;
  }

  /* Form */
  .form {
    border: none;
  }

  .contact-info {
    margin-top: 2rem;
  }

  /* Footer */
  footer .bt-navbar {
    font-size: 13px;
    margin-bottom: 0px;
  }
  footer span {
    font-size: 10px;
  }
}
